---
import Container from '@components/common/Container.astro';
---

<footer class="py-6 bg-dark border-t border-edge">
  <Container>
    <div class="flex justify-between items-center">
      <a class="text-white text-base font-bold uppercase" href="/" aria-label="Go to home">
        Edav<span class="text-arch">Nix</span>
      </a>

      <small class="text-slate-400 text-sm font-medium"> ©2026 Edavnix Grub Theme Project. </small>

      <a
        class="text-white text-base font-bold uppercase hover:text-arch transition-colors"
        href="https://github.com/Eddys912/edavnix-grub-theme.git"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="View project on GitHub">
        GitHub
      </a>
    </div>
  </Container>
</footer>
