# Editorconfig for edavnix-grub-theme
# Documentation: https://editorconfig.org

root = true

# Universal rules for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Shell
[*.sh]
max_line_length = 80

# Web
[*.{astro,svelte,ts,mjs,js,css}]
max_line_length = 100

# Markdown
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# Binary
[*.{png,webp,ico,ttf,pf2,woff2}]
insert_final_newline = false
trim_trailing_whitespace = false
